<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".application.TermPluxApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hasFragileUserData="true"
        android:label="@string/lib_name"
        android:localeConfig="@xml/locales_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlutterTermPlux"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <meta-data
            android:name="fake-signature"
            android:value="@string/fake_signature" />
    </application>

</manifest>